.Home{
    display:flex;
    margin-top:20px;
    border-bottom:1px solid gray ;
}
.logo{
    border-right: 1px solid gray;
}
.nav{
    display:flex;
    justify-content: space-evenly;
    width:40%;
    padding-top:5rem
}

.navlink{
    text-decoration: none;
    font-weight:bolder;
    color:black;
}
.Anavlink{
    color:inherit;
    /* border-bottom: 3px solid #1976d2; */
}